<%content_for :head do%>

<%end%>

<% title "Participe do nosso mandato!" %>
<div id="MainBox">
	<p>
		Os valores arrecadados com os impostos que você paga ao Estado são utilizados para investir no custeio de seu funcionamento, dos serviços públicos na saúde, educação, segurança... e também para  melhorias e benefícios nos municípios e regiões do Estado.
		<br /><br />
		Toda essa arrecadação e gasto estão previstos no Projeto de Lei Orçamentária Anual do Estado, encaminhado pelo Governador à Assembléia Legislativa no dia 30 de setembro, propondo os investimentos para o ano que vem. Esta proposta está sendo analisada pelos deputados da Assembleia Legislativa do Estado de São Paulo. 
		<br /><br />
		O nosso gabinete propõe a sua participação (como tem sido o perfil e trajetória do deputado Beto Trícoli, quando vereador e prefeito, lutando pela transparência e participação da população das decisões e formulação das políticas públicas). 
		<br /><br />
		A possibilidade e valores das possíveis emendas são relativamente pequenos, diante de tantas demandas. Nós entendemos que essas proposituras e sua participação são instrumentos que podem sinalizar transformação e melhorias. 
		<br /><br />
		Teremos a máxima consideração com suas sugestões. Adotaremos metodologia que pondere as votações do mandato nas cidades, bairros e localidades; que siga as propostas e diretrizes de campanha; e os princípios éticos e programáticos do mandato do Beto. 
		<br /><br />
		Gostaríamos que você enviasse sugestões, é muito fácil! Preencha o formulário abaixo ou mande sua idéia para o e-mail <a href="mailto:betrix43@hotmail.com">betotricoli@al.sp.gov.br</a> ou <a href="mailto:betrix43@hotmail.com">betrix43@hotmail.com</a> , com o assunto "sugestão de emenda" . No corpo da mensagem, descreva sua sugestão em até 3 linhas e complete os seguintes campos:  <strong>DESTINO</strong> (entidade ou órgão público que receberá a verba);  <strong>OBJETO</strong> (finalidade da verba) e <strong>VALOR</strong> (estimativa da quantia a ser destinada). 
		<br /><br />
		Analisaremos sua sugestão até o dia 20 de outubro.  Participe do nosso mandato, faça parte desta historia !
	</p>
	
	<%= render 'form' %>

</div>

